body{
    background-image: url("../assets/img/PossiveisFundos/casaNoite1.png");
}

.titulo{
    color: white;
}

.tabela-rank{
    display: flex;
}

.posicao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.borda-posicao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #FFF solid;
}

.borda-posicao span{
    margin: 0px 25px;
}

.nome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.borda-nome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #FFF solid;
    margin-left: -6px;
}

.borda-nome span{
    margin: 0px 60px;
}

.votos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.borda-votos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #FFF solid;
    margin-left: -9px;
}

.borda-votos span{
    margin: 0px 20px;
}