.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.titulo .texto-espadas{
    color: #FFF;
}

/* ESPADA VERMELHO CARMESIM */
.espada-vermelho-carmesim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-vermelho-carmesim img{
    width: 370px;
}

.espada-vermelho-carmesim .hist-espada-vermelho-carmesim{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-vermelho-carmesim h2{
    color: white;
}

.espada-vermelho-carmesim .texto-espada-vermelho-carmesim{
    color: white;
}

/* ESPADA PRETA - SOL */
.espada-preta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-preta img{
    width: 370px;
}

.espada-preta .hist-espada-preta{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-preta h2{
    color: white;
}

.espada-preta .texto-espada-preta{
    color: white;
}

/* ESPADA AMARELO - TROVÃO */
.espada-amarela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-amarela img{
    width: 370px;
}

.espada-amarela .hist-espada-amarela{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-amarela h2{
    color: white;
}

.espada-amarela .texto-espada-amarela{
    color: white;
}

/* ESPADA AZUL - ÁGUA */
.espada-azul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-azul img{
    width: 370px;
}

.espada-azul .hist-espada-azul{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-azul h2{
    color: white;
}

.espada-azul .texto-espada-azul{
    color: white;
}

/* ESPADA AMBAR - SOM */
.espada-ambar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-ambar img{
    width: 370px;
}

.espada-ambar .hist-espada-ambar{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-ambar h2{
    color: white;
}

.espada-ambar .texto-espada-ambar{
    color: white;
}

/* ESPADA AZUL LAVANDA - INSETO */
.espada-azul-lavanda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-azul-lavanda img{
    width: 370px;
}

.espada-azul-lavanda .hist-espada-azul-lavanda{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-azul-lavanda h2{
    color: white;
}

.espada-azul-lavanda .texto-espada-azul-lavanda{
    color: white;
}

/* ESPADA BRANCA - NÉVOA */
.espada-branca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-branca img{
    width: 370px;
}

.espada-branca .hist-espada-branca{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-branca h2{
    color: white;
}

.espada-branca .texto-espada-branca{
    color: white;
}

/* ESPADA CINZA - PEDRA */
.espada-cinza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-cinza img{
    width: 370px;
}

.espada-cinza .hist-espada-cinza{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-cinza h2{
    color: white;
}

.espada-cinza .texto-espada-cinza{
    color: white;
}

/* ESPADA INDIGO CINZA - FERA */
.espada-indigo-cinza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-indigo-cinza img{
    width: 370px;
}

.espada-indigo-cinza .hist-espada-indigo-cinza{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-indigo-cinza h2{
    color: white;
}

.espada-indigo-cinza .texto-espada-indigo-cinza{
    color: white;
}

/* ESPADA LAVANDA - SERPENTE */
.espada-lavanda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-lavanda img{
    width: 370px;
}

.espada-lavanda .hist-espada-lavanda{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-lavanda h2{
    color: white;
}

.espada-lavanda .texto-espada-lavanda{
    color: white;
}

/* ESPADA ROSA - AMOR */
.espada-rosa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-rosa img{
    width: 370px;
}

.espada-rosa .hist-espada-rosa{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-rosa h2{
    color: white;
}

.espada-rosa .texto-espada-rosa{
    color: white;
}

/* ESPADA ROSA CLARO - FLOR */
.espada-rosa-claro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-rosa-claro img{
    width: 370px;
}

.espada-rosa-claro .hist-espada-rosa-claro{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-rosa-claro h2{
    color: white;
}

.espada-rosa-claro .texto-espada-rosa-claro{
    color: white;
}

/* ESPADA ROXO - LUA */
.espada-roxo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-roxo img{
    width: 370px;
}

.espada-roxo .hist-espada-roxo{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-roxo h2{
    color: white;
}

.espada-roxo .texto-espada-roxo{
    color: white;
}

/* ESPADA VERDE - VENTO */
.espada-verde{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-verde img{
    width: 370px;
}

.espada-verde .hist-espada-verde{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-verde h2{
    color: white;
}

.espada-verde .texto-espada-verde{
    color: white;
}

/* ESPADA VERMELHO - CHAMA */
.espada-vermelho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-espada-vermelho img{
    width: 370px;
}

.espada-vermelho .hist-espada-vermelho{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-espada-vermelho h2{
    color: white;
}

.espada-vermelho .texto-espada-vermelho{
    color: white;
}