@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Resetando configurações */

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/img/Background/Smoke3.jpg");
  background-repeat: no-repeat;
  background-size: 1366px 663px;
}

.container-principal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-principal .fumaca-fundo{
  position: relative;
  display: flex;
  bottom: -53px;
  left: 80px;
  height: 600px;
}

.home-Book{
  display: flex;
  position: relative;
  width: 475px;
  position: relative;
  left: -420px;
}

 ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  margin-left: 92px;
}

.container-principal .espada-historia img:hover {
  position: relative;
  right: -260px;
}

.container-principal .espada-onis img:hover {
  position: relative;
  right: -260px;
}

.container-principal .espada-hashiras img:hover {
  position: relative;
  right: -260px;
}

.container-principal .espada-espadas img:hover {
  position: relative;
  right: -260px;
}

.container-principal .espada-formulario img:hover {
  position: relative;
  right: -260px;
}

.container-principal .espada-login img:hover {
  position: relative;
  right: -260px;
}

.home-Book img{
  width: 475px;
  position: relative;
}