body{
    background-image: url("../assets/img/PossiveisFundos/casaNoite.png");
}

.titulo h1{
    color: white;
    font-size: 50px;
}

/* Muzan - Lider */
.muzan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-muzan img{
    width: 370px;
}

.muzan .hist-muzan{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-muzan h2{
    color: white;
    font-size: 30px;
}

.muzan .texto-muzan{
    color: white;
}

/* LUAS SUPERIORES */
.container-luas-superiores{    
    display: flex;
    flex-direction: column;
    margin: 50px 30px 30px 30px;
    padding: 5px 15px;
    background: linear-gradient(85deg, rgb(78 64 91),rgb(255, 255, 255));
}

.container-luas-superiores h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.container-luas-superiores .text-luasSuperiores{
    text-align: center;
    padding: 0px 200px;
}

/* Kokushibou - 1ª Lua Superior */ 
.kokushibou{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-kokushibou img{
    width: 370px;
    border: #FFF solid;
    margin-top: 140px;
}

.kokushibou .hist-kokushibou{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-kokushibou h2{
    color: white;
}

.kokushibou .texto-kokushibou{
    color: white;
}

/* Douma - 2ª Lua Superior */ 
.douma{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-douma img{
    width: 370px;
    margin-top: 110px;
}

.douma .hist-douma{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-douma h2{
    color: white;
}

.douma .texto-douma{
    color: white;
}

/* Akaza - 3ª Lua Superior */ 
.akaza{
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-akaza img{
    width: 370px;
    height: 320px;
}

.akaza .hist-akaza{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-akaza h2{
    color: white;
}

.akaza .texto-akaza{
    color: white;
}

/* Hantengu - 4ª Lua Superior */ 
.hantengu{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-hantengu img{
    width: 370px;
    margin-top: 50px;
}

.hantengu .hist-hantengu{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-hantengu h2{
    color: white;
}

.hantengu .texto-hantengu{
    color: white;
}

/* Nakime - 4ª Lua Superior Substituto */ 
.nakime{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-nakime img{
    width: 370px;
}

.nakime .hist-nakime{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-nakime h2{
    color: white;
}

.nakime .texto-nakime{
    color: white;
}

/* Gyokko - 5ª Lua Superior */ 
.gyokko{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-gyokko img{
    width: 370px;
}

.gyokko .hist-gyokko{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-gyokko h2{
    color: white;
}

.gyokko .texto-gyokko{
    color: white;
}

/* Daki e Gyuutarou - 6ª Lua Superior */ 
.daki_gyuutarou{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-daki_gyuutarou img{
    width: 245px;
}

.daki_gyuutarou .hist-daki_gyuutarou{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-daki_gyuutarou h2{
    color: white;
}

.daki_gyuutarou .texto-daki_gyuutarou{
    color: white;
}

/* Kaigaku - 6ª Lua Superior Substituto */ 
.kaigaku{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-kaigaku img{
    width: 370px;
    margin-top: 90px;
}

.kaigaku .hist-kaigaku{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-kaigaku h2{
    color: white;
}

.kaigaku .texto-kaigaku{
    color: white;
}

/* LUAS INFERIORES */
.container-luas-inferiores{
    display: flex;
    flex-direction: column;
    margin: 14px 30px 30px 30px;
    padding: 5px 15px;
    background: linear-gradient(85deg, rgb(255 255 255), rgb(126 149 180));
}


.container-luas-inferiores h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.container-luas-inferiores .text-luasInferiores{
    text-align: center;
    padding: 0px 200px;
}


/* Enmu - 1ª Lua Inferior */ 
.enmu{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-enmu img{
    width: 370px;
    margin-top: 110px;
}

.enmu .hist-enmu{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-enmu h2{
    color: white;
}

.enmu .texto-enmu{
    color: white;
}

/* Hairo - 2ª Lua Inferior */ 
.hairo{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-hairo img{
    width: 370px;
    margin-top: 30px;
}

.hairo .hist-hairo{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-hairo h2{
    color: white;
}

.hairo .texto-hairo{
    color: white;
}

/* Rokuro - 2ª Lua Inferior SUBISTITUTO */ 
.rokuro{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-rokuro img{
    width: 250px;
}

.rokuro .hist-rokuro{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-rokuro h2{
    color: white;
}

.rokuro .texto-rokuro{
    color: white;
}

/* Wakuraba - 3ª Lua Inferior */ 
.wakuraba{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-wakuraba img{
    width: 320px;
}

.wakuraba .hist-wakuraba{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-wakuraba h2{
    color: white;
}

.wakuraba .texto-wakuraba{
    color: white;
}
/* Mukago - 4ª Lua Inferior */ 
.mukago{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-mukago img{
    width: 370px;
}

.mukago .hist-mukago{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-mukago h2{
    color: white;
}

.mukago .texto-mukago{
    color: white;
}

/* Rui - 5ª Lua Inferior */ 
.rui{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-rui img{
    width: 370px;
    margin-top: 180px;
}

.rui .hist-rui{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-rui h2{
    color: white;
}

.rui .texto-rui{
    color: white;
}

/* Kyogai - EX-6ª Lua Inferior */ 
.kyogai{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-kyogai img{
    width: 370px;
    margin-top: 80px;
}

.kyogai .hist-kyogai{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-kyogai h2{
    color: white;
}

.kyogai .texto-kyogai{
    color: white;
}

/* Kyogai - 6ª Lua Inferior SUBSTITUTA */ 
.kamanue{
    display: flex;
    background-color: gray;
    border-radius: 15px;
    padding: 13px;
    margin: 0px 0px 20px 0px;
}

.img-kamanue img{
    width: 370px;
}

.kamanue .hist-kamanue{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-kamanue h2{
    color: white;
}

.kamanue .texto-kamanue{
    color: white;
}