body{
    background-image: url("../assets/img/PossiveisFundos/casaNoite.png");
}

.titulo{
    color: white;
}

/* HISTORIA */
.historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-historia img{
    width: 370px;
}

.historia .hist-historia{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   margin-left: 280px;
}

.hist-historia h2{
    color: white;
}

.historia .texto-historia{
    color: white;
}

/* HISTORIA - ONIS */
.hist-onis{
    display: flex;
    margin: -125px 0px 0px 0px
}

.img-hist-onis img{
    width: 230px;
    margin-left: 10px;
}

.hist-onis .hist-hist-onis{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   margin-left: 45px;
}

.hist-hist-onis h2{
    color: white;
}

.hist-onis .texto-hist-onis{
    color: white;
}

/* HISTORIA - HASHIRAS */
.hashira{
    display: flex;
}

.img-hashira img{
    width: 370px;
}

.hashira .hist-hashira{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px 90px;
}

.hist-hashira h2{
    color: white;
}

.hashira .texto-hashira{
    color: white;
}

.hashira .texto-tsuguko{
    color:white;
}

/* HISTORIA - TREINADORES */
.treinador{
    display: flex;
}

.img-treinador{
    margin-left: 25px;
}

.img-treinador img{
    width: 340px;
    height: 360px;
    margin-top: 45px;

}

.treinador .hist-treinador{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-treinador h2{
    color: white;
}

.treinador .texto-treinador{
    color: white;
    padding: 0px 90px;
}

/* HISTORIA - KASUGAIGARASU */
.kasugaigarasu{
    display: flex;
}

.img-kasugaigarasu img{
    width: 345px;
    height: 240px;
}

.kasugaigarasu .hist-kasugaigarasu{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-kasugaigarasu h2{
    color: white;
}

.kasugaigarasu .texto-kasugaigarasu{
    color: white;
    padding: 0px 90px;
}

/* FUNÇÕES KISATSUTAI */
.funcoes-kisatsutai{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #4e4a4a; */
    padding: 20px;
    margin: 15px 0px;
}

/* FUNÇÕES */ 
.funcoes{
    display: flex;
}

.img-funcoes img{
    width: 370px;
}

.funcoes .hist-funcoes{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-funcoes h2{
    color: white;
}

.funcoes .texto-funcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0px 200px;
}

/* Exterminadores */ 
.exterminadores{
    display: flex;
    padding: 15px;
    width: 1270px;
    background: linear-gradient(85deg, rgb(144 66 33), rgb(167 71 166));
}

.img-exterminadores img{
    width: 370px;
    height: 400px;
}

.exterminadores .hist-exterminadores{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-exterminadores h2{
    color: white;
}

.exterminadores .texto-exterminadores{
    color: white;
}

/* Ferreiros */ 
.ferreiros{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    background: linear-gradient(85deg, rgb(144 66 33), rgb(167 71 166));
}

.img-ferreiros img{
    width: 370px;
}

.ferreiros .hist-ferreiros{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-ferreiros h2{
    color: white;
}

.ferreiros .texto-ferreiros{
    color: white;
}

/* Kakushi */ 
.kakushi{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    background: linear-gradient(85deg, rgb(144 66 33), rgb(167 71 166));
}

.img-kakushi img{
    width: 370px;
}

.kakushi .hist-kakushi{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-kakushi h2{
    color: white;
}

.kakushi .texto-kakushi{
    color: white;
}

/* Costureiros */ 
.costureiros{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: linear-gradient(85deg, rgb(144 66 33), rgb(167 71 166));
}

.img-costureiros img{
    width: 280px;
}

.costureiros .hist-costureiros{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.hist-costureiros h2{
    color: white;
}

.costureiros .texto-costureiros{
    color: white;
}

/* RANK */ 
.ranking-exterminadores{
    display: flex;
}

.img-ranking img{
    width: 370px;
}

.ranking-exterminadores .text-ranking{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.text-ranking h2{
    color: white;
}

.ranking-exterminadores .ranking{
    color: white;
}

/* INTRODUÇÃO */ 
.introducao-kimetsu{
    display: flex;
}

.img-grupo img{
    width: 370px;
    margin-top: 100px;
}

.introducao-kimetsu .text-grupo{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.text-grupo h2{
    color: white;
}

.introducao-kimetsu .grupo{
    color: white;
}

.introducao-kimetsu .grupo a{
    color: #FFF;
}

.grupo a:hover{
    color: red;
}