body{
    background-image: url("../assets/img/Background/Background.png");
    background-size: 1575px;
}

.fundo-preto{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    height: 500px;
    width: 450px;
    margin-left: 520px;
    margin-top: 70px;
}

.container-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin: 80px 0px 0px 575px;
}


.titulo h1{
    color: white;
    font-size: 40px;
}

.container-campos {
    display: flex;
    justify-content: center;
    background-color: #5e5e5d;
    width: 360px;
    height: 407px;
}

.campos input, .campos span{
    font-size: 18px;
    height: 20px;
}

.container-campos span{
    color: #FFF;
}

.container-campos .campo-nome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-campos .campo-nasc{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-campos .campo-altura{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-campos .campo-peso{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-campos .campo-funcaoDesejada{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.campo-funcaoDesejada select{
    height: 25px;
}

.container-campos .campo-email{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-campos .campo-senha{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-campos .campo-confirmarSenha{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo-btnEnviar button{
    display: flex;
    background: none;
    border: none;
    margin-left: 35px;
}

.campo-btnEnviar button:hover{
    opacity: 0.7;
}

.campo-btnEnviar button img{
    width: 100px;
    margin: 0px 0px -14px -10px;
}
.campo-btnEnviar button .spn-cadastrar{
margin-left: -75px;
}