/*  RESET */
body {
    margin: 0px;
    padding: 0px;
}

/* CONFIGURAÇÕES GERAIS DA PAGINAS */
body{
    background-color: #383837;
}

header .logo{
    color: #FFF;
}

header .botoes-acesso button{
    background-color: black;
    color: white;
}

header button:hover{
    cursor: pointer;
}

.container-paginas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 25px;
    margin: 20px 65px 50px 65px;
}

/* CONFIGURAÇÕES HEADER */
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: black;
    border-bottom: white solid;
    color: white;
    height: 35px;
}

.logo a{
    text-decoration: none;
    color: #FFF;
}

.botoes-acesso ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.agora{
    font-weight: 800;
    margin-right: 10px;
}

.spn_hist{
    margin-left:10px;
}

.spn_cadastro{
    margin-left: 10px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }