body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/img/PossiveisFundos/campo.png");
  background-size: 1560px;
}

/* HEADER */
.fundo-header-left{
position: fixed;
top: 0;
left: 0;
z-index: 999;
height: 100vh;
width: 300px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
background-color: black;
opacity: 0.6;
box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 41%);
}

.header-left{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background-color: black; */
  box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 41%);
}

/* ABRIR ABA */
.btn_abrirAba{
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

/* BOTÕES ACESSO */
.botoes_acesso{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: row;
  margin-left: -200px;
}

/* FECHAR ABA */
.btn_fecharAba{
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 200px;
  
}

/* SAIR */
.btn_exit{
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 200px;
}

.navegacao_header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation-duration: 1s;
}

.navegacao_header img{
  height: 200px;
  margin-bottom: -70px;
}

.titulo_aba{
  color: white;
  font-size: 60px;
}

.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.botoes button{
  cursor: pointer;
  border: none;
  background: none;
}

button .bamboo{
  height: 40px;
  margin-left: -50px;
}
.abrirDados, .b1, .b2, .b3, .b4, .b5{
  display: flex;
}

.botoes button:hover{
  opacity: 0.7;
}

.botoes p{
  color: #FFF;
  margin-left: -100px;
  font-size: 25px;
}

.fecharDados{
  display: none;
}

.b1, .b2{
  display: none;
}

.b1{
  margin-left: 17px;
}

.b1 p{
  margin-left: -111px;
}

.b2{
  margin-left: 1px;
}

.b3{
  margin-left: 11px;
}

.b4{
  margin-left: 11px;
}

.b4 p{
  margin-left: -109px;
}

.b5{
  margin-left: 21px;
}

.b5 a{
  margin-left: -17px;
}

/* TELA DADOS */
.container-dados{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 0px 325px;
  background-color: #FFF;
  width: 550px;
  height: 620px;
}


/* TELA MISSÕES */
.container-missoes{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 0px 325px;
  background-color: #FFF;
  width: 550px;
  height: 620px;
}

/* TELA VOTOS */
.container-voto{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 0px 325px;
  background-color: #FFF;
  width: 550px;
  height: 620px;
}

.img-personagens img{
  display: none;
  width: 550px;
}

/* JOGO - CRUZADINHA */
.cruzadinha{
  display: none;
} 

/* TELA SUGESTÕES */
.container-sugestao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 0px 325px;
  background-color: #FFF;
  width: 550px;
  height: 620px;
}

button a{
  text-decoration: none;
  color: #000000;
}

.dash-right .sugestoes {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .sugestoes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .sugestoes .container .div-form {
  width: 100%;
}

.dash-right .sugestoes .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .sugestoes .div-form label {
  width: 100%;
}

.dash-right .sugestoes .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .sugestoes .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .sugestoes .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}